* {
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}

/* HEADER STYLING  */


/* selects the header  */
.header {
    background-color: #956052;
    position: sticky;
    height: 110px;
    top: 0px;
    width: 100%;

    display: flex;
    justify-content: center;

    /* background-color: #FFFFFF; */
}

/* selects the .nav-container  */
.nav-container {
    display: flex;
    justify-content: space-between;

    border: 1px solid red;

    width: 85%;
}

.nav-container .logo-container img {
    border: 1px solid red;
    height: 80px;
    margin-top: 10px;

}

/* selects the .nav-list */
.header .nav-list {
    list-style-type: none;
    display: flex;
    /* gap: 50px; */
}

.nav-list li {
    margin: 5px;
}

.nav-list .not-nav {
    border: 2px solid #902332;
}

/* main styling (content of body) */

.main {
    width: 100%;
}


/* SECTION STYLING  */

/* section-1 section  */
.welcome {
    /* background-image: url("../images/jack-sharp-ShCVvQbQBDk-unsplash.jpg"); */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */

    background-color: #956052;
    height: 50vh;
    width: 100%;

    color: #EEE;

    display: flex;
    justify-content: center;

}

.welcome-content {
    width: 85%;
    display: flex;

    align-content: space-around;
    flex-direction: column;
    border: 1px solid red;
}



.welcome-content button {
    width: 20%;
}


@media (min-width: 900px) {
    .nav-container .nav-list {
        gap: 10px;

    }

    .nav-list li {
        flex-shrink: 1;
    }

    .welcome-content .church-welcome {
        width: 50%;
    }
}


@media (max-width: 899px) {



    .nav-container .nav-list .nav {
        display: none;
    }

    .nav-list .not-nav {

        font-size: 24px;
        align-self: center;
        margin-right: 30px;
    }

    .welcome {
        height: 52vh;
    }

    .welcome-content .church-welcome {
        width: 80%;
    }



    /* .nav-list .nav{

    } */
}